
.container{ /*A box that will contain the entire website for centering purposes*/
	width:100%; /*The container will try to fill the entire browser window width*/
	margin:0px; /*This line of code is the key.  0px margin top and bottom, auto margin left and right to center*/
	padding:0px;
	box-sizing:border-box;/*Makes it so that padding does not add to a box's total width*/

	display:flex; /*container acts like flexbox, puts things side to side if there is room*/
	flex-wrap:wrap; /*wrap, nowrap, wrap-reverse*/
	flex-direction:row; /*row, row-reverse, column, column-reverse*/
	justify-content: space-between;
}

body {
  padding: 0;
  margin: 0;
}

header{
	width:100%;
	background-color: #0e0e0e;
	padding:50px;
	box-sizing:border-box;
	text-align:center; /*left, right, center, justify*/
	color: white;
}

footer{
	width:100%;
	background-color: #0e0e0e;
	padding:50px;
	box-sizing:border-box;
	text-align:center; /*left, right, center, justify*/
	color: white;
}

.section_title{
	flex: 100%;
	background-color: #FFD200;
	color: black;
	text-align: center;
}

.graduationDate{
	flex: 60%;
	background-color: #0e0e0e;
	color: white;
	text-align: center;
}

.initialStats{
	flex: 40%;
	background-color: white;
	text-align: center;
}

.job_and_company_data{
	flex: 100%;
	background-color: #0e0e0e;
	text-align: center;
	color:white;
}

.location{
	flex: 100%;
	text-align: center;
}

.reflectionStats{
	flex: 40%;
	background-color: white;
	text-align: center;
}

.alumniQuotes{
	flex: 60%;
	background-color: #0e0e0e;
	color: white;
	text-align: center;
}

.alumniSpotlight{
	flex: 100%;
	background-color: #0e0e0e;
	text-align: center;
	color:white;
}
